.navbar{
    background-color: pink;
    display: flex;
    justify-content:space-evenly;     /* alignment along main axis*/
    
}

a{
    text-decoration: none;             /*to remove underline from the links */ 
    color: black;
    background-color: aquamarine;
}

li{
    list-style-type:none;                /*to  remove bullet points*/
    display: inline;
}


/*div centered inside another div*/
.outer{                                     
    height: 400px;
    width: 400px;
    background-color: red;
    display: flex;
    justify-content: center;          /*horizontal alignment*/
    align-items: center;             /*vertical alignment , applies on container*/
}
.inner{
    height: 100px;
    width: 100px;
    background-color: rgba(100,200,150);
    /* align-self: flex-start;                    align-self >>>> align-items */
}